<% include partial/header.ejs %>
    <!-- Main Content -->
    <div class="container mt-5">
        <h1 class="text-center mb-5">Welcome to Sarjo's Portfolio</h1>

        <!-- Mission Statement -->
        <div class="mission-statement text-center mb-5">
            <h2>Mission Statement</h2>
            <p>
                "Transforming ideas into visual masterpieces. With a passion for design and an eye for detail, my mission is to bring creative visions to life, ensuring each piece resonates with its intended audience."
            </p>
        </div>

        <!-- Featured Content -->
        <div class="featured-content mb-5">
            <h3>Latest Projects</h3>
            <p>
                Explore some of my most recent work encompassing a range of designs from web development to graphic illustrations. Dive into the world of creativity and innovation with me!
            </p>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fa-solid fa-house"></i>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> About</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fa-solid fa-address-book"></i>Contact</a>
            </li>
          </li>
    
        </div>
        
    </div>


    <% include partial/footer.ejs %>