


<footer>
  <nav class="navbar  navbar-dark bg-dark navbar-expand-sm">
    <h6 class="display-25 navbar-text">&copy; Copyright 2020. all rights reserved.</h6>
  </nav>
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>